.fis-animate {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 0;
}

.fis-animate[data-fis="fade-up"] {
  -webkit-transform: translateY(-30%);
     -moz-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
       -o-transform: translateY(-30%);
          transform: translateY(-30%);
}

.fis-animate[data-fis="fade-down"] {
  -webkit-transform: translateY(30%);
     -moz-transform: translateY(30%);
      -ms-transform: translateY(30%);
       -o-transform: translateY(30%);
          transform: translateY(30%);
}

.fis-animate[data-fis="fade-down-left"] {
  -webkit-transform: translate(30%, -30%);
     -moz-transform: translate(30%, -30%);
      -ms-transform: translate(30%, -30%);
       -o-transform: translate(30%, -30%);
          transform: translate(30%, -30%);
}

.fis-animate[data-fis="fade-down-right"] {
  -webkit-transform: translate(-30%, -30%);
     -moz-transform: translate(-30%, -30%);
      -ms-transform: translate(-30%, -30%);
       -o-transform: translate(-30%, -30%);
          transform: translate(-30%, -30%);
}

.fis-animate[data-fis="fade-left"] {
  -webkit-transform: translateX(-30%);
     -moz-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
       -o-transform: translateX(-30%);
          transform: translateX(-30%);
}

.fis-animate[data-fis="fade-up-left"] {
  -webkit-transform: translate(30%, 30%);
     -moz-transform: translate(30%, 30%);
      -ms-transform: translate(30%, 30%);
       -o-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
}

.fis-animate[data-fis="fade-up-right"] {
  -webkit-transform: translate(-30%, 30%);
     -moz-transform: translate(-30%, 30%);
      -ms-transform: translate(-30%, 30%);
       -o-transform: translate(-30%, 30%);
          transform: translate(-30%, 30%);
}

.fis-animate[data-fis="fade-right"] {
  -webkit-transform: translateX(30%);
     -moz-transform: translateX(30%);
      -ms-transform: translateX(30%);
       -o-transform: translateX(30%);
          transform: translateX(30%);
}

.fis-animate[data-fis="flip-x"] {
  -webkit-transform: scaleX(-0.01);
     -moz-transform: scaleX(-0.01);
      -ms-transform: scaleX(-0.01);
       -o-transform: scaleX(-0.01);
          transform: scaleX(-0.01);
}

.fis-animate[data-fis="flip-y"] {
  -webkit-transform: scaleY(-0.01);
     -moz-transform: scaleY(-0.01);
      -ms-transform: scaleY(-0.01);
       -o-transform: scaleY(-0.01);
          transform: scaleY(-0.01);
}

.fis-animate[data-fis="zoom-in"] {
  -webkit-transform: scale(0.6);
     -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
       -o-transform: scale(0.6);
          transform: scale(0.6);
}

.fis-animate[data-fis="zoom-in-up"] {
  -webkit-transform: translateY(30%);
     -moz-transform: translateY(30%);
      -ms-transform: translateY(30%);
       -o-transform: translateY(30%);
          transform: translateY(30%);
}

.fis-animate[data-fis="zoom-in-down"] {
  -webkit-transform: translateY(-30%);
     -moz-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
       -o-transform: translateY(-30%);
          transform: translateY(-30%);
}

.fis-animate[data-fis="zoom-in-left"] {
  -webkit-transform: translateX(30%);
     -moz-transform: translateX(30%);
      -ms-transform: translateX(30%);
       -o-transform: translateX(30%);
          transform: translateX(30%);
}

.fis-animate[data-fis="zoom-in-right"] {
  -webkit-transform: translateX(-30%);
     -moz-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
       -o-transform: translateX(-30%);
          transform: translateX(-30%);
}

.fis-animate[data-fis="zoom-out"] {
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}
